<nav class="highlight">
    <ul id="main-menu" class="slimmenu">
        <!--
        <li class="has-submenu"><a href="index.html" target="_blank">Home</a>
            <ul style="display: block;">
                <li><a href="/">Home V1</a></li>
                <li><a href="/home-v2/">Home V2</a></li>
                <li><a href="/home-v3">Home V3</a></li>
            </ul>
            <span class="sub-toggle"><i></i></span>
        </li>
        <li class="has-submenu">
            <a href="#">Pages</a>
            <ul style="display: none;">
                <li><a href="/author/themeix/">Author</a></li>
                <li><a href="/authors/">Authors</a></li>
                <li><a href="/tag/getting-started/">Tag</a></li>
                <li><a href="/tags/">Tags</a></li>
                <li><a href="/full-width-post-example/">Full Width Post</a></li>
                <li><a href="/full-width-page-example/">Full Width Page</a></li>
                <li><a href="/blank-page">Blank Page</a></li>
                <li><a href="/error-page">404 - Error</a></li>
            </ul>
            <span class="sub-toggle"><i></i></span>
        </li>
        -->
        {{#foreach navigation}}
        <li><a href="{{url absolute='true'}}">{{label}}</a></li>
        {{/foreach}}
        <span class="sub-toggle"><i></i></span></li>
        <li class="has-submenu">
            <a href="#">Presbytery Documents and Minutes</a>
            <ul style="display: none;">
                <li><a href="/documents/">All</a></li>
                <li><a href="https://rpcna.org/history/constitution.pdf" target="_blank">RPCNA Constitution</a></li>
            </ul>
            <span class="sub-toggle"><i></i></span>
        </li>
        <li>
            <a href="#" class="search-modal" data-toggle="modal" data-target="#searchmodal"><img
                    src="{{asset "images/search-icon.png"}}" alt="image" /></a>
        </li>
    </ul>
</nav>